@model WebAPiMySQL.Models.cca_user

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>cca_user</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdRol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VersionShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VersionShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalculationCycleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCalculationCycleType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUser">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
